[user]
	name = ayaconsa
	email = aya.consadole@gmail.com
[alias]
	co = checkout
	tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ad %Creset%x09%C(cyan)%an%Creset %x09%C(auto)%s %d' --date=format-local:'%Y/%m/%d %H:%M:%S'
[init]
	defaultBranch = main
[credential]
	helper = "!f() { /root/.vscode-server/bin/8b3775030ed1a69b13e4f4c628c612102e30a681/node /tmp/vscode-remote-containers-bf7faf29-d400-41f0-b1dc-f24a17aeb98c.js git-credential-helper $*; }; f"
